html {
    --color-black: rgba(0, 0, 0, 0.75);
    --color-red: rgba(185, 28, 28);
    --color-white: rgba(255, 255, 255, 1);
    --color-gray: rgb(174, 175, 179);
    --color-yellow-light: rgba(255, 251, 235);
    --medium-text-size: 16px;
    height: 100%;
    max-width: 1920px;
    min-width: 360px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

li {
    all: unset;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

body {
    font-family: "ui-sans-serif", "system-ui", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-white);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/public/images/background_image.webp");
    background-size: cover;
}
